# Ignore virtual environment
myenv/

# Ignore Firebase service account credentials
firebase_key.json 

# Ignore YOLOv5 model weights
 *.pt

# Ignore Python  cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Ignore environment variables
.env
